# DATA ANONYMIZER

This notebook reads the product specific data of a larger file and  anonymizes the details by removing detailed categorical labels and replacing them with generic altenarnatives.  This allows me to work on a project I am passionate for this course and receive feedback without divulging confidential information.

## READ RAW DATA
A database specific to current products, their features and costs does not exist; however a much broader operations profitability file is published that can be repurposed. I will use a portion of this file to train and test my cost predictor! The upside of this file is each record or row contains categorical and numeric data. The downside is that a row may contain product, service, or customer data. This means each row is not useful. There are also many empty cells. This is a very large file of 460 columns and 55,000 rows.

In [2]:
# Custom Libraries
from tmgLibrary_01 import column_metrics, hist_plot, print_metrics, segment,xl2df

# Standard Libraries
import numpy as np
import pandas as pd
import os

from timeit import default_timer as timer
import datetime
now = datetime.datetime.now()

In [3]:
df = xl2df('raw.xlsx','raw',0)

reading file: raw.xlsx , sheet: raw, index_col: 0
loaded File raw.xlsx in 321 seconds
rows: 55140, cols: 28, cells: 1543920

In [4]:
# missing data
df.isnull().sum().sort_values(ascending=False)

desc      14302
sub        8443
cpn        6340
plate      5976
heat       5944
nom        5925
lock       5924
head       5811
point      5724
thread     5706
drive      5688
assy       5552
mm         5431
cost        784
osp         784
ohead       784
matl        784
lab         784
bur         784
lb          687
class       681
price       261
btn           0
cust          0
stn           0
ops           0
qty           0
apn           0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55140 entries, 1 to 55140
Data columns (total 28 columns):
apn       55140 non-null object
desc      40838 non-null object
ops       55140 non-null object
cpn       48800 non-null object
cust      55140 non-null object
btn       55140 non-null object
stn       55140 non-null object
bur       54356 non-null float64
lab       54356 non-null float64
matl      54356 non-null float64
ohead     54356 non-null float64
osp       54356 non-null float64
cost      54356 non-null float64
price     54879 non-null float64
lb        54453 non-null float64
qty       55140 non-null float64
class     54459 non-null object
sub       46697 non-null object
assy      49588 non-null object
head      49329 non-null object
drive     49452 non-null object
thread    49434 non-null object
mm        49709 non-null float64
nom       49215 non-null object
point     49416 non-null object
heat      49196 non-null object
lock      49216 non-null object
plate     49164 non-null object
dtypes: float64(10), object(18)
memory usage: 12.2+ MB

In [7]:
df['qty']=df['qty'].astype(int)
all_columns = df.columns.tolist()

## FOCUS ON PERTINENT DATA

* RAW INPUT DATA
    * rows   = 55140
    * cols   = 28
    * cells: = 1,543,920

I restricted 460 available columns down to 28 because most of columns are operations rather than product focused. I further restricted this to 15 columns to maintain the confidentiality of each part while providing key product features data required for a cost predictor.  This still leaves me with a significant data set.

In [8]:
feat_label =  ['class', 'sub', 'assy','head', 'drive', 'thread', 'nom', 'point', 'heat', 'lock', 'plate']

feat_value =  ['qty', 'mm']

response   = 'cost'

##  RELABEL CATEGORICAL FEATURES FOR CONFIDENTIALITY

In [9]:
cat_dict={}

for each in feat_label:
    code = 'keys ='+'list(map(str,(df[each].unique()).tolist()))'
    exec(code)
    keys.sort()
        
    count= len(keys)
    values = []
    i=0
    while i<count:
        values.append(each+'_'+str(i))
        i+=1
    
    each_dict={}
    for k,v in zip(keys,values):
        each_dict[k]=v
        
    cat_dict[each] = each_dict
    
cat_dict

dfOUT = df[feat_label].copy()
for each in feat_label:
    dfOUT[each]=dfOUT[each].map(cat_dict[each])

for each in feat_value:
    dfOUT[each] = df[each]
    
dfOUT['cost'] = df[response]

dfOUT.head()

,class,sub,assy,head,drive,thread,nom,point,heat,lock,plate,qty,mm,cost
1,class_8,NaN,assy_4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00,0.05791
2,class_4,sub_15,assy_4,head_6,drive_12,thread_8,nom_5,point_19,heat_6,lock_3,plate_74,0,37.42,0.06101
3,class_0,sub_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,693,NaN,17.79297
4,class_0,sub_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,0.00769
5,class_0,sub_0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,56.03889

## WRITE  ANONYMIZED DATA

In [10]:
dfOUT.to_excel("anonymous.xlsx",sheet_name='anonymous')

## GO TO FEATURE ENGINEERING
Feature Engineering.ipynb